*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(0, #cee7d6, #a7b9ee);
  --results-display: none;
  --shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.822);
}

.container {
  padding: 30px;

  max-width: 700px;
  height: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
}

#title {
  font-family: "Ubuntu";
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #162944;
  margin-bottom: 20px;
}

#timer {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #1d3557;
}

#text {
  font-size: 1.2rem;
  background-color: #2a4b7a;
  border: 1px solid #2a4b7a;

  padding: 20px;
  color: #e0fbfc;
  font-weight: 100;
  border-radius: 20px;
  box-shadow: var(--shadow);

  max-height: 30vh;

  overflow: hidden;
}

#input {
  border-radius: 20px 20px;

  margin-top: 20px;
  padding: 20px;

  resize: none;
  outline: none;
  border: 1px solid white;

  font-size: 1.2rem;

  min-height: 20vh;
  box-shadow: var(--shadow);

  -ms-overflow-style: none;
  scrollbar-width: none;
}

#input::-webkit-scrollbar {
  display: none;
}
#input:disabled {
  filter: opacity(0.9);
  box-shadow: none;
}

.results-container {
  background-color: #2a4b7a;
  color: white;

  border-radius: 20px 20px;
  margin-top: 20px;
  box-shadow: var(--shadow);
  text-align: center;
  overflow: hidden;

  padding: 20px;

  display: var(--results-display);
}

.results-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.results-container h2 {
  font-weight: 500;
  transition: 400ms;
}

.results-container div div {
  display: flex;
  flex-direction: column;
}
.results-container img {
  width: 120px;
  height: 120px;
  margin: 30px 0 45px 0;

  animation: moving 10s linear 10ms infinite;
}

#results {
  margin-top: 20px;

  border-collapse: collapse;
  text-align: center;
}

#tryAgainBtn {
  display: var(--results-display);
  padding: 7px 20px;

  border: 1px solid rgb(255, 255, 255);
  outline: none;

  border-radius: 9px;

  background-color: #1a2b63;
  color: white;

  cursor: pointer;

  transition: 200ms;
}

#tryAgainBtn:hover {
  background-color: #fe3745;
  color: antiquewhite;
}

#results th {
  font-weight: 700;
  font-family: "Ubuntu";
}
#results td {
  font-weight: 100;
}

#results th,
#results td {
  padding: 20px 5px;
  font-size: 0.8rem;
  text-align: center;
}

@keyframes moving {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  25% {
    transform: translate(2px, 0) rotate(2deg);
  }

  50% {
    transform: translate(-2px, 0) rotate(-2deg);
  }

  70% {
    transform: translate(0, -4px) rotate(0);
  }

  80% {
    transform: translate(0, -4px) rotate(-45deg);
  }

  90% {
    transform: translate(0, 0) rotate(360deg);
  }

  95% {
    transform: translate(0, -4px) rotate(360deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
